{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Carousel</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="container">
    <h2>Schema list</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Task</th>
        <th>Connect</th>
        <th>Locked Date</th>
        <th>Schema Size, Mb</th>
      </tr>
      </thead>
      <tbody>
      {{range  $rec := .schemas}}
      <tr>
        <td>{{$rec.Task}}</td>
        <td>{{$rec.DbLogin}}/*****@{{$rec.DbHost}}:{{$rec.DbPort}}/{{$rec.DbName}}</td>
        <td>{{datetime $rec.LockedDate}}</td>
        <td>{{$rec.DbSize}}</td>
      </tr>
      {{end}}
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
