{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
    <div class="container">
        <div class="row">
            <h1>Carousel</h1>
            <p>Carousel - continuous integration resource system.</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="container">
        <h2>Product list</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Schema Weight, Point</th>
                <th>Jira project</th>
                <th>Project</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            {{range $rec := .products}}
            <tr>
                <td>{{$rec.Name}}</td>
                <td>{{$rec.Desc}}</td>
                <td>{{datetime $rec.CreatedAt}}</td>
                <td>{{$rec.Weight}}</td>
                <td><a href="http://jira.bpc.in:8080/projects/{{$rec.Jira}}" target="_blank">{{$rec.Jira}}</a></td>
                <td>{{$rec.Project}}</td>
                <td>{{$rec.UpdatedAt}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

{{template "footer.html" .}}
